.app-header {
  float: left;
  width: 100%;
}
.app-header .appIcon {
  float: left;
  margin: 0 10px 0 0;
}
.app-header span {
  font-size: 0.6em
}
.cloud #target {
  width: 1170px;
  height: 760px;
}
.dashboard .author {
  font-style: italic;
}
